<section class="search_body">



</section>

<div class="brands_search_results">
	<h1>All Brands Matching result</h1>
	<%@brands.each do |brand| %>
    <h1><%=link_to brand.name, brand_show_path(brand) %></h1>
  <% end %>

</div>
    
