<div class="tab-content">

  <div id="dashboardTab" class="tab-pane fade in active">
  
      <!-- <button class="bam_btn_alt_inverse" id="view-notification-button">View</button> -->
      <span class="times" id="close-notification-icon">&times;</span></

      <div id="accountTab" class="tab-pane fade">
 
  
  </div>
  
  <div id="brand-page" class="">



    <h1 id="brand-name-header"><%= @brand.name.capitalize %></h1> 
   
    <%= render 'logos' %>
    <hr/>
    <%= render 'typography' %>
    <hr/>
    <%= render 'color' %>
    <!--render misc files-->
    <!--render guidelines-->
    <!--render copy-->
  </div>
</div>


