<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @employee.firstname %> <%= @employee.surname %> wants access to the to BAM</h1>
    <p>
      To add and set permissions please go to <%= @url %>.
    </p>
    <p>Thanks and have a greate day from the BAM team:)</p>
  </body>
</html>