<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <% binding.pry %>
  	<p>Please take a moment to activate your account by going to:</P>
    <h1><%= @user.firstname %> wants to join</h1>
    <p>
      To add this user follow this go to <%= @url %>.
    </p>
    <p>Thanks and have a greate day:)</p>
  </body>
</html>