<nav id="brand-nav">
  <ul>

    <li><a href="#logos">Logos</a></li>
    <li><a href="#colors">Colors</a></li>
    <li><a href="#typography">Typography</a></li>
    <li><a href="#copy">Copy</a></li>
    <li><a href="#guidelines">Guideline</a></li>
    <li><a href="#files">Files</a></li>
  </ul>

<hr/>
</nav>