<footer class="row">
<div class="col-sm-4">
  <ul>
    <li><a>About</a></li>
    <li><a>Blog</a></li>
    <li><a>Support</a></li>
    <li><a>Contact</a></li>
  </ul>

</div>

<div class="col-sm-4">

</div>

<div class="col-sm-4">
  <div id="back-to-top">
  ^
  </div>
</div>


</footer> 