<footer class="row">
<div class="col-sm-3">
<p>About</p>
</div>

<div class="col-sm-3">
<p>Blog</p>
</div>

<div class="col-sm-3">
  <p>Contact</p>
</div>

<div class="col-sm-3">
  <p>Support</p>
</div>


</footer> 