<h1>Listing misc_assets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @misc_assets.each do |misc_asset| %>
      <tr>
        <td><%= link_to 'Show', misc_asset %></td>
        <td><%= link_to 'Edit', edit_misc_asset_path(misc_asset) %></td>
        <td><%= link_to 'Destroy', misc_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Misc asset', new_misc_asset_path %>
