<!-- 	margin and background -->

<div id='business_card_pdf'>
	
<!-- 	border and lines  -->
	<div class="no_border">
		<div id="no_background">
			<div id="business_card_image">
				<h1 style="font-family:'Calibri'"><%= Brand.find(session[:current_brand]).name.capitalize %></h1>
				<h4><%= @user.firstname.capitalize %> <%= @user.surname.capitalize %></h4>
			</div>
		</div>
	</div>`
</div>
