<div id="letter_head_logo" style="background-image: url(<%= @logos.first.path.url %>)"></div>

<div id="business_card_name"><%= current_user.firstname.capitalize%> <%= current_user.surname.capitalize%></div>
<div id="business_card_brand"><%= @brand.name.titleize %></div>
<div id="business_card_street_address"></div>
<div id="business_card_city"></div>
<div id="buisness_card_postal"></div>
<div id="buisness_card_number"></div>