
<!-- <!-- BORDER STYLES -->


<!-- BRAND LOGO -->
<div id="letter_head_logo"></div>


<!-- BRAND TITLE -->
<div id="title_color">
	<div style="float: right; margin-right: 190px; margin-top: 20px; font-size: 2em; text-align:center;"><%= @brand.name.titleize %></div>
	<div style=" "><%= @pdf.street_number.titleize if @pdf.present? %></div>
	<div style=" "><%= @brand.street_address.titleize if @pdf.present? %></div>
	<div style=" "><%= @brand.post_code.titleize if @pdf.present? %></div>
</div>

<!-- 
BORDER STYLE -->

	<div id="letter_head_border"></div>

<!-- FOOTER -->

	<div id="letter_head_border" style="margin-top: 900px; height: 5px; width: 700px"></div>







