
<!-- <!-- BORDER STYLES -->


<!-- BRAND LOGO -->
<div id="letter_head_logo"></div>


<!-- BRAND TITLE -->
<div id="title_color">

	<div id="brand_title" style=";"><%= @brand.name.titleize %></div>
	<div id="street_address_input"></div>
	<div id="city_input"></div>
	<div id="post_code_input"></div>
	<div id="phone_number_input"></div>
</div>

<!-- 
BORDER STYLE -->

	<div id="letter_head_border"></div>

<!-- FOOTER -->

	<div id="letter_head_border" style="margin-top: 900px; height: 5px; width: 700px"></div>







