

<!-- <!-- BORDER STYLES -->


<!-- BRAND LOGO -->
<% if @logos.first.present? %>
<div id="letter_head_logo" style="background-image: url(<%= @logos.first.path.url %>)"></div>
<% end %>

<!-- BRAND TITLE -->
<div id="title_color">

	<div id="brand_title" style=";"><%= @brand.name.titleize %></div>
	<div id="street_address_input"></div>
	<div id="city_input"></div>
	<div id="post_code_input"></div>
	<div id="phone_number_input"></div>
</div>

<!-- 
BORDER STYLE -->

	<div id="letter_head_border"></div>

<!-- FOOTER -->

	<div id="border_selection"></div>
	<div id="footer_selection"></div>








