#multi_asset_form {

  position: relative;
  left: 0px;
  height: auto;
  padding-top: 5px;
  color: #999;
  font-weight: 100;
  z-index: 1000;
  .asset_module {
    position: relative;
    
    height: auto;
    text-align: center;
    // border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    float:none;
    display: block;
    input {
      position: relative;
      display: block;
      color: black;
      margin: 4px auto;
      width: 90%;
    }

    input[type="file"] {
      background-color: rgba(255,255,255, 0.5);
    }

    textarea {
      position: relative;
      display: block;
      width: 90%;
      height: 132px;
      margin: 4px auto;
      color: black;
    }
    .file-upload {
      position: relative;
      margin: 0 auto;
      height: auto;
      width: 90%;
      background-color: #fff;
      .file-upload-name {
        position: relative;
        display: block;
        text-align: left;
        padding: 4px;
      }
      .file-progress-bar {
        margin: 0 auto;
        height: 15px;
        width: 90%;
        background-color: #fff;
        border: 1px solid #999;
        .file-progress-bar{
          position: absolute;
          left: 0px;
          top: 0px;
          height: 100%;
          width: 0%;
          background-color: green;
        }
      }
    
    }
  }
}