#multi_asset_form {
  position: absolute;
  left: 0px;
  width: 380px;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 1000;
  .asset_module {
    position: relative;
    width: 90%;
    height: auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    input {
      position: relative;
      display: block;
      color: black;
      margin: 4px auto;

    }

    input[type="file"] {
      background-color: rgba(255,255,255, 0.5);
    }

    input[type="submit"] {
      background-color: grey;
      border: none;
    }

    textarea {
      position: relative;
      display: block;
      width: 90%;
      height: 132px;
      margin: 4px auto;
      color: black;
    }
  }
}