html, body{
  height: 100%;
}
body{
  margin: 0 auto;
}

#dashboard{
  background: #444;
  width: 25%;
  height: 300%;
  overflow: hidden;
  float: left;
  transition: all 1s;
}

#brand-page{
  width: 75%;
  height: 100%;
  float: left;
}

#brand-page.dashboard-open{
  width: 100%;
  transition: all 1s;
}
#logged-in-page-wrapper{
  height: 100%;
  width: 100%;
  margin-top: 52px;
}
