#color{
  list-style-type: none;
ul{
  list-style-type: none;
  }
  li{
    padding: 7.5px;
    border-bottom: #999 solid 1px;
  }
}

.copy-alert{
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
}

.copy-alert.copied{
  background: rgba(255, 255, 255, 0.3)
}

.swatch-wrapper{
  transition: all 1s;
}

  .color-name{
    font-weight: bold;
    span{
      font-weight: 200;
      }
  }
.swatch{
  height: 100px;
  width: 100%;
  // background: $primary-color;
}

.color-list{
  list-style-type: none;
  padding-left: 0px;
  li{
    padding: 7.5px;
    border-bottom: #999 solid 1px;

  }

}

.swatch-wrapper:hover .delete-asset {
  opacity: 1.0;
}