#dashboard{
  background: #333;
  z-index: 10000;
  // padding-top: 10px;
  transition: all 1s;
  height: auto;
  hr{
    background-color: $primary-color;
    border:none;
    height: 1px;
  }
}

.display-none{
  display: none;
}

  .close-notification{
    transform: translateX(-600px);
    transition: all 1s;
  }

#access-request-notification{
  transition: all 1s;
  width: 90%;
  padding:7.5px;
  margin-right: 15px;
  margin-left: 15px;
  color: $alt-color;
  border: solid 2px $alt-color;
  border-radius: 5px;
  p{
    display: inline;
  }
  a{
    color: $alt-color;
  }
  button{
    display: inline;
    margin-left: 30%;
  }
  .times{
    font-size: 2em;
    float: right;
    margin-top: -8px;
    margin-bottom: 15px;
  }

}

#dashboard_toggle{
  display: inline;
  position: fixed;
  margin-left: -45px;
  margin-top: -40px;
  z-index: 1000;
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius:  0px 5px 5px 0px;
  border-top: solid 2px $primary-color;
  border-bottom: solid 2px $primary-color;
  border-right: solid 2px $primary-color;
 
  color: white;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}



#dashboard-inner{
  position: fixed;
  width: 25%;
  height: 100%;
  background: #333;
  overflow-y: auto;
}

.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ccc;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.nav-tabs{
  width: auto;
  li{
    width: 50%;
    a{
      background: #fafafa;
    }
  }
}

#close-notification-icon{
  cursor: pointer;
}
.file-upload-box input type[file]{
  background: $primary-color!important;
}
#file-upload-label{
  width: 100%;
  height: 100%;
  padding:15px;
  border-radius: 4px;
  background-color: #666;

}
#file-upload-label:hover{
  border: solid 1px $primary-color;
  padding: 14px;
}

#dashboard-accordion, #permissions_form{
  .panel-group{
    transition: all 1s;
  }

  select{
    width: 75%;
    background: #666;
    height: 30px;
    font-size: 1em;
    border: none;
  }
  .permissions-select{
    margin-bottom: 15px;
  }
  .permissions-select-submit{
    margin-top: 15px;
    width: 20%;
  }
  .panel{
    border-radius: 0px;
    border: none;
    background: #444;
    color: #ccc;
  }
 a {
  color: #999;
 }    
 a:hover{
    text-decoration: none;
    color: white;
  }
  .panel-heading{
    border-radius:0px;
    color: #999;
    transition: all 0.25s;
    border:none;
    margin-bottom: 5px;
    h4{
      font-size: 1.5em;
      font-weight: 200;
    }

  }
  .panel-heading:hover{
    color: #fff;
    background: $primary-color;
  }

}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border:none;
  }

#brand-copy-header{
  margin-top: 5px;
}

.add-brand-panel{
    .form-control{
    background: #666;
    color: white;
    margin-bottom: 4px;
    border: none;

  }
}

#edit-user-headline{
  display:inline;
}
#edit-user-link{
  display:inline;
  margin-left: 10px;
  a{
    color: $primary-color;
  }
}

.nav-tabs{
  border-bottom: 0px;
  margin-bottom: 10px;
}

.nav-tabs li a{
  color: $primary-color;
  
  border-radius: 3px;
  background: #333;
  border: 0px;

}
.nav-tabs li a:hover{
  background: #333;
  border: none;
  border-bottom: solid 2px $primary-color;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #333;
  border: none;
  border-bottom: solid 2px $primary-color;
  color: #fff;
  

  
} 



.menu-nav {
  background:url(/assets/dashboard_toggle.png) 0 -16px no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  margin: 6px 0px 0px 6px;
  
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
      transform: rotate(0deg);
  
  -webkit-transition: -webkit-transform 1s ease-out 0s;  
     -moz-transition: -moz-transform 1s ease-out 0s;
     -o-transition: -o-transform 1s ease-out 0s;
        transition: transform 1s ease-out 0s;
}

.menu-nav.open {
  background-position:  1px 0px;
  margin: 5px 0px 0px 6px;
      
  -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
     -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
  
  -webkit-transition: -webkit-transform 1s ease-out 0s;  
     -moz-transition: -moz-transform 1s ease-out 0s;
     -o-transition: -o-transform 1s ease-out 0s;
        transition: transform 1s ease-out 0s;  
}




