#letter_head_form {

}

#letter_head_logo {
	margin: 15px;
	height: 50px;
	width: auto;
	background-size: contain!important;
	background-repeat: no-repeat!important;
}

#letter_head_preview {
	height: 320px;
	width: 100%;
	float:left;
	border: solid;

}

#letter_head_form {
	float:right;
}

#letter_head_footer {
	clear: both;
}

#letter_head_check_box {

}

.letter_head_border {
	margin-top: 2px;
	background-color: black;
	float: right;
	height: 1px; 
	width: 100%;
}

.footer_border {
	background-color: black;
	float: right;
	height: 1px; 
	width: 200px

}

#brand_title {

	float: right;
	text-align:center;
	display: block;
	margin-right: 80px;
}

#street_address_input {
	text-align: center;
	font-size: 5px;
	float: right;
	margin-left: auto;
	margin-right: auto;


}

#city_input {
	text-align: center;
	font-size: 5px;

	margin-right: 80px;
}

#post_code_input {
	text-align: center;
	font-size: 5px;

	margin-right: 80px;
}

#phone_number_input {
	text-align: center;
	font-size: 5px;
	margin-top: -50px;
	margin-right: 80px;
}





