#logos{
  padding: 45px;
  margin-left: 0px;
  margin-right: 0px;
}

.img-background{
  background-image: url("/assets/bg.jpg");
  width: 100%;
  height: width;
  text-align: center;
}

.img-background{
  padding:10px;
}

  