#logos{
  padding: 45px;
  margin-left: 0px;
  margin-right: 0px;
}

.img-background{
  background-image: url("/assets/bg.jpg");
  width: 100%;
  height: width;
  text-align: center;
}

.img-background{
  padding:10px;
}



.logo-options{
  margin-top: 7.5px;
  display: inline;
  float: right;
  label{
    margin-top: 5px;
  }
  ul{
    
    text-decoration: none;
    padding-left: 0px;
    }
    li{
      
    }
    img{
      opacity: 0.5;
    }
  .dropdown-menu{
    float: right;
    right: 15px;  
  }

}

  