
#private-page-actions-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  border: solid 1px $primary-color;
  padding: 15px;
}

.button-wrapper{
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  text-align: center;
}
.modal{
 
}

// .modal-content{
//    background-color: rgba(0, 0, 0, 0.5);
//   border-radius: 0px;
// }

