#typography{
  padding: 45px;
  margin-left: 0px;
  margin-right: 0px;
}

#primary_capital_letters,
#primary_lower_case_letters,
#secondary_capital_letters,
#secondary_lower_case_letter{
  font-size: 1.2em;
  letter-spacing: 3px;

}

#letters_wrapper{
  margin-right: auto;
  margin-left: auto;
  display: block;
  float: none;
}