// VARIABLES


$primary-color: #3dc9b3;
$accent-color:darken($primary-color, 20%);

$alt-color: #FF6568;
$alt-accent-color:darken($alt-color, 10%);

$font-stack: 'Proxima-Nova', sans-serif;


// $primary-color: #60D2C1;
// $accent-color: #2D9F8E