

.business_card_pdf {
	height: 2in;
	width: 3.5in;
	background-color: lightblue;
	border: 2px solid;
	margin: 32px;
	text-align: center;
	padding: 15px;

}


.business_card_preview {
	height: 3in;
	width: 5.5in;
	background-color: lightblue;
	border: 2px solid;
}

