@import 'variables';
@import 'private_page';
@import 'buttons';
@import 'brand_page';
@import 'dashboard';
@import 'logos';
@import 'typography';
@import 'colors';
@import 'asset_manager_form';
@import 'nav_bar';
@import 'home_page';
@import 'home_footer';
@import 'sign_up_form';
@import 'asset_manager_form';
@import 'brand_nav';
@import 'business_card_form';
@import 'brand';

.entire-page{
  margin-top: 52px;
}

.row{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

body{
  font-family: $font-stack;
  background: #333;
}

.pass-nav {
	margin-top: 52px;
}



