<div id="multi_asset_form">

    <div class="panel-group" id="accordion">
      
      <div class="panel ">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
             Account Information
        		</a>
        	</h4>
        </div>
      </div>

    </div>
</div>