<nav id="brand-nav">
  <ul>

    <% if @logos.present? %><li><a href="#logos">Logos</a></li><% end %>
    <% if @colors.present? %><li><a href="#color">Colors</a></li><% end %>
    <% if @fonts.present? %><li><a href="#typography">Typography</a></li><% end %>
    <% if @copies.present? %><li><a href="#copy">Copy</a></li><% end %>
    <% if @guidelines.present? %><li><a href="#guide">Guidelines</a></li><% end %>

  </ul>

<hr/>
</nav>
