<section id="color" class="row">
<h2>Colors</h2>
<div class="col-sm-4 swatch-wrapper">
  <div class="swatch">
  </div>
  <ul class="color-list">
    <li class="color-name">Primary Color</li>
    <li>CSS HEX: <span></span></li>
    <li>RGB: <span></span></li>
    <li>CMYK: <span></span></li>
    <li>Sass:<span></span></li>
  </ul>
</div>

<div class="col-sm-4 swatch-wrapper">
  <div class="swatch">
  </div>
  <ul class="color-list">
    <li class="color-name">Primary Color</li>
    <li>CSS HEX: <span></span></li>
    <li>RGB: <span></span></li>
    <li>CMYK: <span></span></li>
    <li>Sass:<span></span></li>
  </ul>
</div>

<div class="col-sm-4 swatch-wrapper">
  <div class="swatch">
  </div>
  <ul class="color-list">
    <li class="color-name">Primary Color</li>
    <li>CSS HEX: <span></span></li>
    <li>RGB: <span></span></li>
    <li>CMYK: <span></span></li>
    <li>Sass:<span></span></li>
  </ul>
</div>

</section>