<section id="color" class="row">
<h2>Colors</h2>
 <div style="display:none">
    <%= form_for Color.new, url: user_brand_colors_path(params[:user_id], params[:id], format: :json) , remote: true, authenticity_token: true, method: 'get', html: {id: 'load_color' } do |f|%>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
    <% end %> 
  </div> 

<!-- <div class="col-sm-4 swatch-wrapper">
  <div class="swatch" id="swatch-2">
  </div>
  <ul class="color-list">
    <li class="color-name">Beacon Red</li>
    <li>CSS HEX: <span></span></li>
    <li>RGB: <span></span></li>
    <li>CMYK: <span></span></li>
    <li>Sass:<span></span></li>
  </ul>
</div>

<div class="col-sm-4 swatch-wrapper">
  <div class="swatch" id="swatch-3">
  </div>
  <ul class="color-list">
    <li class="color-name">Fog Blue</li>
    <li>CSS HEX: <span></span></li>
    <li>RGB: <span></span></li>
    <li>CMYK: <span></span></li>
    <li>Sass:<span></span></li>
  </ul>
</div> -->

</section>