<section id="color" class="row">
<h2>Colors</h2>
<%= @colors %>

<!-- <div class="col-sm-4 swatch-wrapper">
  <div class="swatch" id="swatch-2">
  </div>
  <ul class="color-list">
    <li class="color-name">Beacon Red</li>
    <li>CSS HEX: <span></span></li>
    <li>RGB: <span></span></li>
    <li>CMYK: <span></span></li>
    <li>Sass:<span></span></li>
  </ul>
</div>

<div class="col-sm-4 swatch-wrapper">
  <div class="swatch" id="swatch-3">
  </div>
  <ul class="color-list">
    <li class="color-name">Fog Blue</li>
    <li>CSS HEX: <span></span></li>
    <li>RGB: <span></span></li>
    <li>CMYK: <span></span></li>
    <li>Sass:<span></span></li>
  </ul>
</div> -->

</section>