<section id="logos" class="row">

  <h2>Logos</h2>

    <div class="col-sm-4">
        <div class="img-background"/>
          <img src="/assets/nav-logo.png" class="img-responsive logo">
        </div>
      <label class="img-label"> Logo Name </label>
    </div>

    <div class="col-sm-4">
        <div class="img-background"/>
          <img src="/assets/nav-logo.png" class="img-responsive logo">
        </div>
      <label class="img-label"> Logo Name </label>
    </div>

    <div class="col-sm-4">
      <div class="img-background"/>
        <img src="/assets/nav-logo.png" class="img-responsive logo">
      </div>
      <label class="img-label"> Logo Name </label>
    </div>


</section>