<section id="logos" class="row">

  <h2>Logos</h2>

    <div class="col-sm-4">
      <div class="img-background"/>
        <img src="/assets/nav-logo.png" class="img-responsive logo">
      </div>
      <div class="logo-meta">
        <label class="img-label"> Logo Name </label>
        <div class="logo-options">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Download</li>
            <li class="divider"></li>
            <li><a href="#">logo.ai</li>
            <li><a href="#">logo.png</a></li>
            <li><a href="#">logo.jpg</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="img-background"/>
        <img src="/assets/nav-logo.png" class="img-responsive logo">
      </div>
      <div class="logo-meta">
        <label class="img-label"> Logo Name </label>
        <div class="logo-options">

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="img-background"/>
        <img src="/assets/nav-logo.png" class="img-responsive logo">
      </div>
      <div class="logo-meta">
        <label class="img-label"> Logo Name </label>
        <div class="logo-options">

        </div>
      </div>
    </div>


</section>