<section id="logos" class="row">

  <h2>Logos</h2>

    <div class="col-sm-4">
      <img src="http://placehold.it/350x350" class="img-responsive">
      <p class="img-label"> Logo Name </p>
    </div>

    <div class="col-sm-4">
      <img src="http://placehold.it/350x350" class="img-responsive">
      <p class="img-label"> Logo Name </p>
    </div>

    <div class="col-sm-4">
      <img src="http://placehold.it/350x350" class="img-responsive">
      <p class="img-label"> Logo Name </p>
    </div>

</section>