<section id="logos" class="row">

  <h2>Logos</h2>

    <div class="col-sm-4">
      <div class="img-background"/>
        <div class="img-wrapper">
          <img src="/assets/nav-logo.png" class="img-responsive logo">
        </div>
      </div>
      <div class="logo-meta">
        <p class="img-label">Primary Logotype</p>
        <ul>
          <li><a>primary_logo.ai</a></li>
          <li><a>primary_logo.png</a></li>
          <li><a>primary_logo.jpeg</a></li>
        <ul>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="img-background"/>
        <img src="/assets/lighthouse-labs.png" class="img-responsive logo">
      </div>
      <div class="logo-meta">
        <p class="img-label">Primary Logotype</p>
        <ul>
          <li><a>primary_logo.ai</a></li>
          <li><a>primary_logo.png</a></li>
          <li><a>primary_logo.jpeg</a></li>
        <ul>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="img-background"/>
        <img src="/assets/nav-logo.png" class="img-responsive logo">
      </div>
      <div class="logo-meta">
        <p class="img-label">Primary Logotype</p>
        <ul>
          <li><a>primary_logo.ai</a></li>
          <li><a>primary_logo.png</a></li>
          <li><a>primary_logo.jpeg</a></li>
        <ul>
      </div>
    </div>


</section>