<h1> Request Access</h1>
<form>
<label>First Name</label>
<input type="text" name="first_name" placeholder="First Name"/>
<label>Last Name</label>
<input type="text" name="last_name" placeholder="Last Name"/>
<label>Email</label>
<input type="text" name="email" placeholder="Email"/>
<input type="submit" value="Send"/>
</form>
