<!---USE LETTERING.js plugin to resize letters -->

<section id="typography" class="row">

  <h2>Typography</h2>

    <div class="letters_wrapper col-sm-10">

      <div class="font-header">
        <h3 class="font-description">Headline:</h3>
        <h3 class="font-name">Proxima-nova</h3>
      </div>

      <hr/>
      <p class="primary_capital_letters">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
      <p class="primary_lower_case_letters">abcdefghijklmnopqrstuvwxyz</p>
      <hr/>
      <h3 class="font-description">Body:</h3>
      <h3 class="font-name">Proxima-nova</h3>
      <hr/>
      <p class="secondary_capital_letters">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
      <p class="secondary_lower_case_letters">abcdefghijklmnopqrstuvwxyz</p>
      <hr/>
    </div>
    
</section>