
// <% if @colors.size != 0 %>
//   <% @colors.each do | color | %>
//     <div id="<%= color.id %>" class="col-sm-4 swatch-wrapper">
//       <div class="swatch" style="background:#<%= color.hex %>">
//       </div>
//       <ul class="color-list">
//         <li class="color-name"><%= color.name %></li>
//         <li>CSS HEX: <span><%= color.hex.upcase %></span></li>
//         <li>RGB: <span></span></li>
//         <li>CMYK: <span></span></li>
//         <li>Sass:<span></span></li>
//       </ul>
//     </div>
//   <% end %>
// <% else %>
//   <p>Give this brand some color!</p>
// <% end %>


    <div class="col-sm-4">
      <div class="img-background" style="height: 300px;">
        <img src="/assets/nav-logo.png" class="img-responsive logo">
      </div>
      <div class="logo-meta">
        <label class="img-label"> Logo Name </label>
        <div class="logo-options">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Download</li>
            <li class="divider"></li>
            <li><a href="#">logo.ai</a></li><a href="#">
            </a><li><a href="#"></a><a href="#">logo.png</a></li>
            <li><a href="#">logo.jpg</a></li>
          </ul>
        </div>
      </div>
    </div>